@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');


main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {

  --primary: #423e3bff;
  --light: #e3e4dbff;
  --secondary: #07004dff;
  --tertiary: #7699d4ff;
  --mountbatten-pink: #94849bff;
  --light: #fafafa;
  --dark: #000000;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

body {
min-height: 100;


}

:root {
background-color: var(--midnight-blue);  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav {
  font-size: 1vw;
  text-decoration: none;
  color: var(--black-olive);
}

.nav-font {
  color: var(--cornflower-blue)
}

.profile-image {
  border-radius: 50%;
  width: 20vw;
  height: auto;
  padding: 5vh;
  align-items: center;
}

.content {
  align-items: center;
}