body, root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black-olive: #423e3bff;
--alabaster: #e3e4dbff;
--midnight-blue: #07004dff;
--cornflower-blue: #7699d4ff;
--mountbatten-pink: #94849bff;
background-color: var(--midnight-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav {
  font-size: 1vw;
  text-decoration: none;
  color: var(--black-olive);
}

.nav-font {
  color: var(--cornflower-blue)
}

.profile-image {
  border-radius: 50%;
  width: 20vw;
  height: auto;
  padding: 5vh;
  align-items: center;
}

.content {
  align-items: center;
}